/* variables and classes */
.post-item, #search-bar, #search-button, #sort-select {
  border: 1px solid lightgrey;
  padding: 1em;
  margin: 1em 0;
  background-color: white;
  transition: background-color 0.1s; }

.post-item:hover, #search-bar:hover, #search-button:hover, #sort-select:hover, .post-item:focus, #search-bar:focus, #search-button:focus, #sort-select:focus {
  background-color: whitesmoke; }

.post-item:focus, #search-bar:focus, #search-button:focus, #sort-select:focus {
  outline: none; }

address, .post-path, div.float-right > figcaption {
  font-size: smaller;
  color: grey; }

.nav-link, .post-id, #order-by-text {
  display: flex;
  flex-direction: column;
  justify-content: center; }

/* animations and animation classes */
@keyframes height-in-animation {
  0% {
    max-height: 0; }
  100% {
    max-height: 20em; } }
.post-item {
  overflow: hidden;
  animation: height-in-animation 0.3s ease-in forwards; }

@keyframes fade-in-animation {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
.post-item, #post-container {
  animation: fade-in-animation 0.3s forwards; }

@keyframes fade-in-out-animation {
  0% {
    opacity: 1; }
  1% {
    opacity: 0; }
  100% {
    opacity: 1; } }
/**
  * css spinner courtesy of CSSLoad
  * author: Miguel Ambrosi
  * https://icons8.com/cssload/en/spinners
  */
.cssload-container {
  position: relative;
  z-index: 2;
  margin-top: 5em;
  margin-bottom: -64px; }

.cssload-container.lazy-image {
  margin-top: 1em; }

.cssload-whirlpool,
.cssload-whirlpool::before,
.cssload-whirlpool::after {
  position: absolute;
  top: 50%;
  left: 50%;
  border: 1px solid #cccccc;
  border-left-color: black;
  border-radius: 974px; }

.cssload-whirlpool {
  margin: -24px 0 -24px;
  height: 49px;
  width: 49px;
  animation: cssload-rotate 1150ms linear infinite; }

.cssload-whirlpool::before {
  content: "";
  margin: -22px 0 0 -22px;
  height: 43px;
  width: 43px;
  animation: cssload-rotate 1150ms linear infinite; }

.cssload-whirlpool::after {
  content: "";
  margin: -28px 0 0 -28px;
  height: 55px;
  width: 55px;
  animation: cssload-rotate 2300ms linear infinite; }

@keyframes cssload-rotate {
  100% {
    transform: rotate(360deg); } }
/* very generic body styles (all pages) */
* {
  box-sizing: border-box; }

body, html {
  margin: 0;
  padding: 0; }

body {
  font-family: roboto, sans-serif;
  font-size: 16px;
  min-width: 20em; }

#container {
  max-width: 60em;
  margin: 2em auto;
  padding: 0 1em;
  line-height: 1.5; }

.mobile-flex-break {
  flex-basis: 100%; }

/* default basic tag styles (also all pages) */
a {
  cursor: pointer; }

a:not(.noLink) {
  color: darkslategrey;
  text-decoration: underline; }

address {
  opacity: 0;
  animation-name: fade-in-animation;
  animation-duration: 0.3s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
  font-style: normal;
  padding: 1em;
  margin-bottom: 5em;
  text-align: center;
  clear: both; }

address.hidden {
  animation-name: fade-in-out-animation; }

button, input, select {
  font-size: inherit;
  font-family: inherit;
  -webkit-appearance: none;
  border-radius: 0; }

hr {
  margin: 2em;
  background-color: darkslategrey;
  height: 1px;
  border: none; }

/* header styles (also all pages) */
#nav-bar {
  display: fixed;
  top: 0;
  height: 3em;
  display: flex;
  flex-direction: row;
  border-bottom: 3px solid lightslategrey;
  padding: 0 calc(50% - 30em); }

.nav-link {
  width: calc(100% / 3);
  max-width: 20em;
  text-align: center;
  border-bottom: 3px solid lightslategrey;
  margin-bottom: -3px;
  transition: border-bottom-color 0.1s, background-color 0.1s; }

.nav-link.active {
  background-color: whitesmoke; }

.nav-link:hover, .nav-link.active {
  border-bottom-color: lightgrey; }

/* post list styles (/posts) */
.post-id {
  position: absolute;
  top: 0;
  left: 0;
  height: 1.5em;
  width: 1.5em;
  font-size: 1em;
  text-align: center;
  border-bottom-right-radius: 0.33em;
  background-color: darkslategrey;
  color: whitesmoke; }

.post-image {
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 10em;
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0; }

.post-info {
  margin-top: 11em; }

.post-item {
  display: flex;
  flex-direction: column;
  position: relative; }

.post-title, .post-description {
  margin: 0.25em 0; }

#search-bar, #search-button, #sort-select {
  margin: 1em 0 0 0; }

#search-bar {
  flex: 1 0 0;
  border-right: none;
  min-width: 0; }

#search-sort-posts {
  display: flex;
  flex-direction: row;
  margin-top: -1em;
  flex-wrap: wrap; }

/* post styles (/posts/*, /about) */
div.float-right {
  display: block;
  margin-bottom: 1em; }

div.float-right > img {
  display: block;
  max-width: 100%;
  max-height: 20em;
  margin: auto; }

div.float-right > figcaption {
  margin-top: 1em;
  text-align: center; }

#order-by-text {
  margin: 1em 1em 0 1em; }

#post-body {
  padding: 1em 0; }

#post-body blockquote {
  padding: 0.5em 1em 0.5em 1.5em;
  background-color: whitesmoke;
  margin: 0;
  border-left: 5px solid darkslategrey; }

#post-body ul > li {
  list-style-type: circle; }

#post-body pre {
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow-wrap: break-word; }

#post-data, #post-date, #post-description, #post-title {
  line-height: 1.5; }

#post-data, #post-date {
  font-size: smaller;
  color: grey; }

#post-description {
  margin: 0; }

#post-image {
  width: 100%;
  height: 20em;
  background-size: cover;
  background-position: center;
  margin: 1em 0; }

#post-title {
  margin: 0; }

/* media queries for larger screens (width >= 600px) */
@media only screen and (min-width: 600px) {
  div.float-right {
    float: right;
    margin-left: 2em; }

  div.float-right > img {
    max-width: 25em;
    max-height: initial; }

  div.float-right > figcaption {
    max-width: 25em; }

  .mobile-flex-break {
    flex-basis: 0; }

  #post-image {
    height: 30em; }

  .post-image {
    width: 10em;
    height: 100%; }

  .post-info {
    margin-top: 0;
    margin-left: 11em; }

  .post-item {
    flex-direction: row;
    height: 10em; } }

/*# sourceMappingURL=mobile.css.map */
