/* variables and classes */
$subtle-color: whitesmoke;
$main-color: lightgrey;
$accent-color: darkslategrey;
$light-accent-color: lightslategrey;
$alttext-color: grey;
$transition: 0.1s;
%card {
  border: 1px solid $main-color;
  padding: 1em;
  margin: 1em 0;
  background-color: white;
  transition: background-color $transition;
}
%card:hover, %card:focus {
  background-color: $subtle-color;
}
%card:focus {
  outline: none;
}
%subtext {
  font-size: smaller;
  color: $alttext-color;
}
%vcenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* very generic body styles (all pages) */
* {
  display: border-box;
}
body, html {
  margin: 0;
  padding: 0;
}
body {
  font-family: roboto, sans-serif;
  font-size: 16px;
  min-width: 20em;
}
div#container {
  max-width: 60em;
  margin: 2em auto;
  padding: 0 1em;
  line-height: 1.5;
}

/* default basic tag styles (also all pages) */
a {
  cursor: pointer;
}
a:not(.noLink) {
  color: blue;
  text-decoration: underline;
}
address {
  @extend %subtext;
  font-style: normal;
  padding: 1em;
  text-align: center;
  clear: both;
}
button, input, select {
  font-size: inherit;
  font-family: inherit;
}
hr {
  margin: 2em;
  background-color: $accent-color;
  height: 1px;
  border: none;
}

/* header styles (also all pages) */
#nav-bar {
  display: fixed;
  top: 0;
  height: 3em;
  display: flex;
  flex-direction: row;
  border-bottom: 3px solid $light-accent-color;
  padding: 0 calc(50% - 30em);
}
.nav-link {
  @extend %vcenter;
  width: calc(100% / 3);
  max-width: 20em;
  text-align: center;
  border-bottom: 3px solid $light-accent-color;
  margin-bottom: -3px;
  transition: border-bottom-color $transition, background-color $transition;
}
.nav-link.active {
  background-color: $subtle-color;
}
.nav-link:hover, .nav-link.active {
  border-bottom-color: $main-color;
}

/* post list styles (/posts) */
.post-id {
  @extend %vcenter;
  flex: 0 1 0;
  margin: 0 1em 0 0.5em;
  font-size: 2em;
  color: $main-color;
}
.post-item {
  @extend %card;
  display: flex;
  flex-direction: row;
}
.post-title, .post-description {
  margin: 0.25em 0;
}
.post-path {
  @extend %subtext;
}

/* post styles (/posts/*, /about) */
div.float-right {
  display: block;
  float: right;
  margin: 1em 0 1em 2em;
}
div.float-right > img {
  display: block;
  max-width: 25em;
}
div.float-right > figcaption {
  @extend %subtext;
  max-width: 25em;
  margin-top: 1em;
}
#order-by-text {
  @extend %vcenter;
}
#post-body {
  padding: 1em;
}
#post-data, #post-date, #post-description, #post-title {
  line-height: 1.5;
}
#post-data, #post-date {
  font-size: smaller;
  color: grey;
}
#post-description {
  margin: 0;
}
#post-title {
  margin: 0;
}
#search-bar, #search-button, #sort-select {
  @extend %card;  
}
#search-bar {
  flex: 1 0 0;
  margin-right: 0;
  border-right: none;
}
#search-button {
  margin-left: 0;
}
#search-sort-posts {
  display: flex;
  flex-direction: row;
}
